<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
          <li>
            <a href="{{ site.baseurl }}/steps/http_sessions.html" {% if page.url == "/steps/http_sessions.html" %}class = "active"{% endif %}>Http Sessions</a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/steps/middleware.html" {% if page.url == "/steps/middleware.html" %}class = "active"{% endif %}>Middleware</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/implementing_auth.html" {% if page.url == "/steps/implementing_auth.html" %}class = "active"{% endif %}>Implementing auth</a>
          </li>

    </ul>
  </nav>
</footer>
